doctype html
html
    head
        meta(charset="utf-8")
        title= title
        block style
            link(rel="stylesheet", href="/css/main.css")
    body
        block header
            div(class="site-header")
            h1 Ramverk2
        block navbar
            div(class="site-navbar")
            <a href="/me">Me</a>
            <a href="/report">Redovisning</a>
            <a href="/about">Om</a>
        block main
            main(class="main") Mainblock
        block footer
            div(class="site-footer")
                p Copyright (c) by Emil Mattsson
        block script
            script(src="/js/move.js")
