extend layout.pug

block main
    h2= title
    
    h3 Kmom01: Express
    p Min redovisning
    
    h3 Kmom02:
    p Min redovisning
    
    h3 Kmom03:
    p Min redovisning
    
    h3 Kmom04:
    p Min redovisning
    
    h3 Kmom05:
    p Min redovisning
    
    h3 Kmom06:
    p Min redovisning
    
    h3 Kmom07:
    p Min redovisning

